.scannerwork
android/.idea/gradle.xml
android/.idea/compiler.xml
android/.idea/misc.xml
android/.idea/copyright/profiles_settings.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
server/.idea/modules.xml
server/.idea/server.iml
server/.idea/workspace.xml
server/.idea/vcs.xml
android/.idea/vcs.xml
*.der
android/app/src/main/res/layout/activity_profile.xml
